mixin page(title)
  html(class="no-js")
    head
      meta(charset="utf-8")
      title=title
      meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
      meta(name="apple-mobile-web-app-capable", content="yes")
      meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
      meta(name="description", content=title)
      link(href="/directive-talk-slides/assets/css/style.css", rel="stylesheet", type="text/css")
      script(src="/directive-talk-slides/assets/js/angular.js")

    body
      .reveal
        .opi-logo
        .slides
          block

      script(src="/directive-talk-slides/assets/js/app.js")


mixin animated-header()
  .sliding-image-container
    img.angular(src="/directive-talk-slides/assets/img/angular.png")
  .fading-header-container
    h1.angular Angular.js
  block


mixin lecture-title-page(title, subtitle)
  section.index-section
    +animated-header()
    h3=title
    h4=subtitle
